<div id="wrapper">
    <div class="left-column">
        <h2 class="skills-title">Skills at a Glance</h2>

        <div class="icon-container">

            <div class="light-icons">
                <img src="/Asset/images/skills-icons/programming-icon.svg" alt="Programming"
                    class="skill-icons">Programming
            </div>

            <div class="dark-icons">
                <img src="/Asset/images/skills-icons/network-icon.svg" alt="Network Configuration"
                    class="skill-icons">Network
                Configuration
            </div>
            <div class="light-icons">
                <img src="/Asset/images/skills-icons/machine-icon.svg" alt="Machine Learning"
                    class="skill-icons">Machine Learning
            </div>
            <div class="dark-icons">
                <img src="/Asset/images/skills-icons/communication-icon.svg" alt="Communication" class="skill-icons">
                Communication
            </div>
            <div class="light-icons">
                <img src="/Asset/images/skills-icons/security-icon.svg" alt="Security" class="skill-icons"> Security
            </div>
            <div class="dark-icons">
                <img src="/Asset/images/skills-icons/data-icon.svg" alt="Data Management" class="skill-icons"> Data
                Analysis
            </div>
            <div class="light-icons">
                <img src="/Asset/images/skills-icons/management-icon.svg" alt="Project Management" class="skill-icons">
                Project
                Management
            </div>
            <div class="dark-icons">
                <img src="/Asset/images/skills-icons/problemsolve-icon.svg" alt="Problem Solving"
                    class="skill-icons">Problem
                Solving
            </div>
            <div class="light-icons">
                <img src="/Asset/images/skills-icons/htmlcss-icon.svg" alt="HTML/CSS" class="skill-icons"> HTML/CSS
            </div>
            <div class="about-video">
                <video controls width="320" height="200" poster="/Asset/images/aboutme-poster.png" preload="auto"
                    class="rounded shadow">
                    <source src="/Asset/Videos/Aboutme-video.mp4" type="video/mp4">
                </video>
            </div>
        </div>
    </div>
</div>